/* Full gradient background */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    font-family: "Poppins", sans-serif;
  }
  
  /* Glass card */
  .login-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  /* Inputs */
  .login-input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  /* Button */
  .login-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #ff6ec4, #7873f5);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  